body {
  /* background-color: lightblue; */
}

h1 {
  color: Red;
  margin-left: 20px;
}


/* used in index.html // my high school goals */

p {
	color: Orange;
	font-weight: bold;
	font-weight: 100;
}

