body {
  background-image: url("video/cube.gif");
  //background-size: 100% 100%;
}

h1 {
color: white;
font-weight: 50px;
text-shadow: 3px 4px 7px Fuchsia;
	
}

p {
	color: white;
	font-weight: 20px;
}
