body {
  word-wrap: break-word;
  overflow-wrap: break-word;	
}	
h1 {
color: white;
font-weight: 100px;
text-shadow: 3px 4px 7px CornflowerBlue;
	
}

h.A {
	text-indent: 300px;
}

p {
	color: white;
	font-weight: 50px;
	  width: 300px; 
	  border: 2px solid #000000;
}

p.1 {
	word-break: break-all;
}

