body {
  /* background-color: lightblue; */
}

h1 {
  color: white;
  margin-left: 20px;
}


/* used in index.html // my high school goals */

p {
	color: white;
	font-weight: bold;
	font-weight: 100;
}
