h1 {
	color: White;
	font-size: 50px;
	/*text-decoration: line-through;*/
}

p {
	color: Orange;
	font-size: 25px;
}

h2 { 
	
	/* IDEALLY I am looking to make actual header stuff and footer stuff */
	
	
	
}
