body {
  /* background-color: lightblue; */
}

h1 {
  color: white;
//  margin-left: 20px;
  font-family: "Comic Sans", Times, serif;
font-size: 50px;

}


/* used in index.html // my high school goals */

p {
	color: Orange;
	font-weight: bold;
	font-size: 100px;
}
